{% extends "base.html" %}

{% block meta %}
  <title>Профиль</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% block header %}

  <h2>greendocu.su</h2>
  <button>Выйти</button>

{% endblock %}

{% block body %}
  <img src="{{url_for('static', filename='img/avatar.jpg')}}" class="avatar">
  <img src="{{url_for('static', filename='img/rectangle_16.jpg')}}" class="rectangle_16">
  <div class="container">
    <h2>{{user.first_name}}</h2>
    <p class="email"><span>Email:</span> {{user.email}}</p>
    <hr>
    <div class="results">
      <p>Разгадано судоку: <b>{{user.victories}}</b></p>
      <p>Сыграно всего: <b>{{user.games}}</b></p>
      <p>Процент побед: <b>{{(user.victories+1)//(user.games+1)*100}}</b></p>
    </div>
  </div>
  {% endblock %}
